## Grab sequence

In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("/pod/2/ke-lab/LUOZ/m6AAI/UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data.drop([0,11,13,14,15], axis=1, inplace=True)

In [4]:
Data

,1,2,3,4,5,6,7,8,9,10,12
0,ENSMUST00000086465.5,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",Adora1
1,ENSMUST00000140295.6,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",Sntg1
2,ENSMUST00000151309.6,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",Adgrb3
3,ENSMUST00000027312.10,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",Prim2
4,ENSMUST00000114313.6,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",Cflar
...,...,...,...,...,...,...,...,...,...,...,...
22418,ENSMUST00000115964.2,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...",Tmlhe
22419,ENSMUST00000051100.6,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,",Vamp7
22420,ENSMUST00000167421.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,",CAAA01165726.1
22421,ENSMUST00000076951.3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,",Spry3
22422,ENSMUST00000178569.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,",AC234645.1

In [5]:
Data[1] = Data[12]

In [6]:
Data.drop([12], axis=1, inplace=True)

In [7]:
Data

,1,2,3,4,5,6,7,8,9,10
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325..."
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,"

In [8]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]

In [9]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325..."
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,"

### Select coding genes

In [10]:
idx = (Data["cdsStart"] != Data["cdsEnd"])

In [11]:
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]

In [12]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325..."
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,"

### Keep standard chromosomes

In [13]:
Data = Data[:22357]

In [14]:
Data["LastExonStart"] = 0
Data["LastExonEnd"] = 0

<ipython-input-14-e3fe488877f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["LastExonStart"] = 0
<ipython-input-14-e3fe488877f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["LastExonEnd"] = 0

In [15]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",0,0
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",0,0
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",0,0
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",0,0
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",0,0
22353,Gm7102,chr19,-,61174685,61176309,61175458,61175995,1,"61174685,","61176309,",0,0
22354,Gm6020,chr19,+,61183889,61183955,61183889,61183955,1,"61183889,","61183955,",0,0
22355,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",0,0
22356,Gm21060,chr19,-,61296901,61297069,61296901,61297069,1,"61296901,","61297069,",0,0

In [16]:
for i in range(len(Data)):
    if Data.loc[i, "strand"] == "+":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[-2]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[-2]
    elif Data.loc[i, "strand"] == "-":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[0]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[0]

/home/luoz/miniconda3/envs/m6AAI/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [17]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884
...,...,...,...,...,...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719
22353,Gm7102,chr19,-,61174685,61176309,61175458,61175995,1,"61174685,","61176309,",61174685,61176309
22354,Gm6020,chr19,+,61183889,61183955,61183889,61183955,1,"61183889,","61183955,",61183889,61183955
22355,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033
22356,Gm21060,chr19,-,61296901,61297069,61296901,61297069,1,"61296901,","61297069,",61296901,61297069

In [18]:
Data.drop(["exonCount", "exonStarts", "exonEnds"], axis=1, inplace=True)

/home/luoz/miniconda3/envs/m6AAI/lib/python3.8/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,8361474,8363633
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,33453809,33454304
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,58753783,58758884
...,...,...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,60864665,60874467,60864050,60864719
22353,Gm7102,chr19,-,61174685,61176309,61175458,61175995,61174685,61176309
22354,Gm6020,chr19,+,61183889,61183955,61183889,61183955,61183889,61183955
22355,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033
22356,Gm21060,chr19,-,61296901,61297069,61296901,61297069,61296901,61297069

### All genes

In [20]:
Overlap = Data

In [21]:
Overlap["LastExonStart"] = Overlap["LastExonStart"].astype(int)
Overlap["LastExonEnd"] = Overlap["LastExonEnd"].astype(int)

<ipython-input-21-fafaf2643b98>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Overlap["LastExonStart"] = Overlap["LastExonStart"].astype(int)
<ipython-input-21-fafaf2643b98>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Overlap["LastExonEnd"] = Overlap["LastExonEnd"].astype(int)

In [22]:
Positive = Overlap[Overlap["strand"]=="+"]
Positive = Positive.reset_index(drop = True)

In [23]:
Negative = Overlap[Overlap["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [24]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [25]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,Cflar,chr1,+,58711559,58758884,58726436,58753922,58753783,58758884
1,Gpr39,chr1,+,125676994,125873862,125677336,125872884,125872369,125873862
2,Lmx1a,chr1,+,167689556,167848741,167689774,167846761,167846600,167848741
3,A830018L16Rik,chr1,+,11414104,11975901,11414568,11974966,11974922,11975901
4,Efhc1,chr1,+,20951687,20990841,20951733,20990688,20990616,20990841
...,...,...,...,...,...,...,...,...,...
22352,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,60838747,60839050
22353,Prdx3,chr19,-,60864050,60874556,60864665,60874467,60864050,60864719
22354,Gm7102,chr19,-,61174685,61176309,61175458,61175995,61174685,61176309
22355,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033
22356,Gm21060,chr19,-,61296901,61297069,61296901,61297069,61296901,61297069

In [26]:
Data.to_csv("FC.csv", index=0)

### Create Bed

In [27]:
Bed = Data.iloc[:, [1, 3, 4]]

In [28]:
Bed.to_csv("FC.bed", sep="\t", header=False, index=False)

In [29]:
!bedtools getfasta -bed FC.bed -fi /pod/2/ke-lab/LUOZ/Reference/Fasta/mm10/mm10.fa -fo FC.txt

### Get sequence

In [30]:
from Bio import SeqIO
import numpy as np
import pandas as pd

In [31]:
meta=[]
sequence=[]

In [32]:
seq = ('FC.txt')

In [33]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [34]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [35]:
Data = pd.read_csv("FC.csv")

In [36]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [37]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,Meta,Sequence
0,Cflar,chr1,+,58711559,58758884,58726436,58753922,58753783,58758884,chr1:58711559-58758884,GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
1,Gpr39,chr1,+,125676994,125873862,125677336,125872884,125872369,125873862,chr1:125676994-125873862,GGGACCTGGAAGGGAGAGGAGGATCCGCCGCCAGACAGAGTTCTGC...
2,Lmx1a,chr1,+,167689556,167848741,167689774,167846761,167846600,167848741,chr1:167689556-167848741,CAGAGCCGTCCGAGCAGTTCACGGTGGCTCTTCTCTCTCCTCCCAC...
3,A830018L16Rik,chr1,+,11414104,11975901,11414568,11974966,11974922,11975901,chr1:11414104-11975901,GGGTGCTGGTTCCTGGCAGCCAGGAGCTGGGCGCACACCGTGGCGC...
4,Efhc1,chr1,+,20951687,20990841,20951733,20990688,20990616,20990841,chr1:20951687-20990841,AACCCGAGCGGCAAAAGGCAACCGAGGTGGCAGCTGCAGGGCAGCG...
...,...,...,...,...,...,...,...,...,...,...,...
22352,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,60838747,60839050,chr19:60838747-60861479,TTTCTTTCAAGTATTCAACTCCAGACAGGTTTATTCACAGGGTCAC...
22353,Prdx3,chr19,-,60864050,60874556,60864665,60874467,60864050,60864719,chr19:60864050-60874556,TAAGTCAAAAACGCAAATATTTTAATGTTTATTTTTATTCTATATA...
22354,Gm7102,chr19,-,61174685,61176309,61175458,61175995,61174685,61176309,chr19:61174685-61176309,ccagtattttaaaagattcatccttgtacttctgttactctagaac...
22355,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033,chr19:61224401-61228418,AAATGTTCtggcttttattttacagacatatgattcttctagtact...
22356,Gm21060,chr19,-,61296901,61297069,61296901,61297069,61296901,61297069,chr19:61296901-61297069,ctctccagtatgtattcttttatgtacttggagagtattatgatat...

In [38]:
Result.drop(["Meta"], axis=1, inplace=True)

In [39]:
Result["Length"] = Result["txEnd"] - Result["txStart"]

In [40]:
Result = Result.sort_values(by=["chrom","txStart"], axis=0, ascending=True)
Result = Result.reset_index(drop = True)

In [41]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,Sequence,Length
0,Xkr4,chr1,-,3214481,3671498,3216021,3671348,3214481,3216968,AAAGTTTGACCGGCACTTTTAATGCAACAAAAAGCACCATGACCAA...,457017
1,Rp1,chr1,-,4290845,4409241,4292980,4409187,4290845,4293012,gactgtgggtttgcaatatattgtgtttattatggagaggtatatc...,118396
2,Sox17,chr1,-,4491389,4497354,4491715,4495155,4491389,4492668,AAGATTCCAGGATTTATTTAAGATTGAGAAAACACGCATGACAAAA...,5965
3,Mrpl15,chr1,-,4773210,4785739,4776463,4785677,4773210,4776801,AGATTTAGGAATTCTGTTTATTGAACAAACTGCAGAAGGGAAGACT...,12529
4,Lypla1,chr1,+,4807822,4846739,4807913,4845016,4844962,4846739,gagcgcgcgcccggaggggcgggcTGGGACTTTCGGCTGCCGGGAG...,38917
...,...,...,...,...,...,...,...,...,...,...,...
22352,Gm21996,chrY,-,89713423,89745532,89713627,89744111,89713423,89713657,TTTCATAGGAGACAAAAAAAGGTAGATATTTTTTTCTTTGTTTtat...,32109
22353,Gm20837,chrY,+,90401247,90433263,90402678,90433059,90433029,90433263,GAGGAGCTAAGCACAGAAGGGTGCGGTTGGGAAGGTGTTCTCCTCT...,32016
22354,Gm21860,chrY,-,90754512,90754821,90754512,90754821,90754512,90754821,TTATAGGTAGAGTCCATCTTTTGTAGCACTCACTCCGCTGCAGACA...,309
22355,Erdr1,chrY,+,90785441,90816464,90785670,90816447,90816435,90816464,TTCTCTTTTAGCCGCAGCTATGGTTTCTGCCCTAATTATTCTTGTC...,31023
22356,Gm21748,chrY,-,90838868,90839177,90838868,90839177,90838868,90839177,TTATAGGTAGAGTCCATCTTTTGTAGCACTCACTCCGCTGCAGACA...,309

In [42]:
Positive = Result[Result["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Result[Result["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [43]:
Positive

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,Sequence,Length
0,Lypla1,chr1,+,4807822,4846739,4807913,4845016,4844962,4846739,gagcgcgcgcccggaggggcgggcTGGGACTTTCGGCTGCCGGGAG...,38917
1,Gm37988,chr1,+,4807891,4886770,4807913,4832316,4886743,4886770,CGCACTGTCCGCCAGCCGGTGGATGTGCGGCAACAACATGTCCGCT...,78879
2,Tcea1,chr1,+,4857813,4897905,4857913,4896364,4896355,4897905,GGAAGGCCTAGGCCAGCGGCTTCGCGGCTTGTCCAACGTCCGCGCA...,40092
3,Atp6v1h,chr1,+,5083079,5162529,5084450,5162165,5162104,5162529,AGCTGCGGTCACGTGCGGCTGCTCACGTGCCAGACGCTGCTGTCAC...,79450
4,Oprk1,chr1,+,5588492,5606131,5589048,5602784,5602251,5606131,GCGCACCTTGCTGATCCCAAACAGGCAGAGCTTCTTCCAGTCTTGG...,17639
...,...,...,...,...,...,...,...,...,...,...,...
11185,Gm20906,chrY,+,87550965,87575691,87552392,87575495,87575465,87575691,ACAGAAGGGTGCGGTTTGGAAGGTGTTCTCCTCTTAGATGAGCTGT...,24726
11186,Gm28102,chrY,+,88053314,88079494,88054737,88079297,88079267,88079494,ACAGAAGGGTGCGGTTTGGAAGGTGTTCTCCTCTTAGATGAGCTGT...,26180
11187,Gm21294,chrY,+,89052805,89079015,89054243,89078823,89078793,89079015,GAGGAGCTAAGCACAGAAGGGTGCGGTTTGGAAGGTGTTCTCCTCT...,26210
11188,Gm20837,chrY,+,90401247,90433263,90402678,90433059,90433029,90433263,GAGGAGCTAAGCACAGAAGGGTGCGGTTGGGAAGGTGTTCTCCTCT...,32016
11189,Erdr1,chrY,+,90785441,90816464,90785670,90816447,90816435,90816464,TTCTCTTTTAGCCGCAGCTATGGTTTCTGCCCTAATTATTCTTGTC...,31023

In [44]:
Positive["Start"] = Positive["cdsStart"] - Positive["txStart"]
Positive["Stop"] = Positive["cdsEnd"] - Positive["txStart"]

In [45]:
Sequence = Positive["Sequence"].tolist()
Start = Positive["Start"].tolist()
Stop = Positive["Stop"].tolist()

In [46]:
New = []

for i in range(len(Sequence)):
    input_sequence = Sequence[i]
    seq = input_sequence[(Stop[i]-3):(Stop[i])]
    seq = seq.upper()
    New.append(seq)

New = np.array(New)
New = pd.DataFrame({"StopCodon":New})

In [47]:
Positive["StopCodon"] = 0
Positive["StopCodon"] = New["StopCodon"]

In [48]:
Positive

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,Sequence,Length,Start,Stop,StopCodon
0,Lypla1,chr1,+,4807822,4846739,4807913,4845016,4844962,4846739,gagcgcgcgcccggaggggcgggcTGGGACTTTCGGCTGCCGGGAG...,38917,91,37194,TGA
1,Gm37988,chr1,+,4807891,4886770,4807913,4832316,4886743,4886770,CGCACTGTCCGCCAGCCGGTGGATGTGCGGCAACAACATGTCCGCT...,78879,22,24425,TGA
2,Tcea1,chr1,+,4857813,4897905,4857913,4896364,4896355,4897905,GGAAGGCCTAGGCCAGCGGCTTCGCGGCTTGTCCAACGTCCGCGCA...,40092,100,38551,TGA
3,Atp6v1h,chr1,+,5083079,5162529,5084450,5162165,5162104,5162529,AGCTGCGGTCACGTGCGGCTGCTCACGTGCCAGACGCTGCTGTCAC...,79450,1371,79086,TGA
4,Oprk1,chr1,+,5588492,5606131,5589048,5602784,5602251,5606131,GCGCACCTTGCTGATCCCAAACAGGCAGAGCTTCTTCCAGTCTTGG...,17639,556,14292,TGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11185,Gm20906,chrY,+,87550965,87575691,87552392,87575495,87575465,87575691,ACAGAAGGGTGCGGTTTGGAAGGTGTTCTCCTCTTAGATGAGCTGT...,24726,1427,24530,TAA
11186,Gm28102,chrY,+,88053314,88079494,88054737,88079297,88079267,88079494,ACAGAAGGGTGCGGTTTGGAAGGTGTTCTCCTCTTAGATGAGCTGT...,26180,1423,25983,TAA
11187,Gm21294,chrY,+,89052805,89079015,89054243,89078823,89078793,89079015,GAGGAGCTAAGCACAGAAGGGTGCGGTTTGGAAGGTGTTCTCCTCT...,26210,1438,26018,TAA
11188,Gm20837,chrY,+,90401247,90433263,90402678,90433059,90433029,90433263,GAGGAGCTAAGCACAGAAGGGTGCGGTTGGGAAGGTGTTCTCCTCT...,32016,1431,31812,TAA
11189,Erdr1,chrY,+,90785441,90816464,90785670,90816447,90816435,90816464,TTCTCTTTTAGCCGCAGCTATGGTTTCTGCCCTAATTATTCTTGTC...,31023,229,31006,TAA

In [49]:
Negative["Start"] = Negative["txEnd"] - Negative["cdsEnd"]
Negative["Stop"] = Negative["txEnd"] - Negative["cdsStart"]

In [50]:
Sequence = Negative["Sequence"].tolist()
Start = Negative["Start"].tolist()
Stop = Negative["Stop"].tolist()

In [51]:
from Bio.Seq import Seq

In [52]:
New = []
for i in range(len(Sequence)):
    input_sequence = Sequence[i][::-1]
    seq = Seq(input_sequence).complement()
    seq = seq[(Stop[i]-3):(Stop[i])]
    seq = str(seq)
    seq = seq.upper()
    New.append(seq)

New = np.array(New)
New = pd.DataFrame({"StopCodon":New})

In [53]:
Negative["StopCodon"] = 0
Negative["StopCodon"] = New["StopCodon"]

In [54]:
Negative

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,Sequence,Length,Start,Stop,StopCodon
0,Xkr4,chr1,-,3214481,3671498,3216021,3671348,3214481,3216968,AAAGTTTGACCGGCACTTTTAATGCAACAAAAAGCACCATGACCAA...,457017,150,455477,TAA
1,Rp1,chr1,-,4290845,4409241,4292980,4409187,4290845,4293012,gactgtgggtttgcaatatattgtgtttattatggagaggtatatc...,118396,54,116261,TAA
2,Sox17,chr1,-,4491389,4497354,4491715,4495155,4491389,4492668,AAGATTCCAGGATTTATTTAAGATTGAGAAAACACGCATGACAAAA...,5965,2199,5639,TGA
3,Mrpl15,chr1,-,4773210,4785739,4776463,4785677,4773210,4776801,AGATTTAGGAATTCTGTTTATTGAACAAACTGCAGAAGGGAAGACT...,12529,62,9276,TGA
4,Rgs20,chr1,-,4909575,5070285,4910473,5070177,4909575,4910662,CATTAAAAATTAAAATATGTTTATTTGAGAAATTGTGAACATGACA...,160710,108,159812,TAG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11162,Gm21394,chrY,-,84562571,84564907,84562710,84563394,84562571,84563675,TTAATTTTTAGAACAAAACAAATTTTATTGACAAAGATACTGAGGT...,2336,1513,2197,TAA
11163,Gm20854,chrY,-,85528516,85529518,85528659,85529343,85528516,85529518,TATTAATTTTTTGAACAAAACAAATTTTATTGACAAAGATACTGAG...,1002,175,859,TAA
11164,Gm21996,chrY,-,89713423,89745532,89713627,89744111,89713423,89713657,TTTCATAGGAGACAAAAAAAGGTAGATATTTTTTTCTTTGTTTtat...,32109,1421,31905,TAA
11165,Gm21860,chrY,-,90754512,90754821,90754512,90754821,90754512,90754821,TTATAGGTAGAGTCCATCTTTTGTAGCACTCACTCCGCTGCAGACA...,309,0,309,TAA
11166,Gm21748,chrY,-,90838868,90839177,90838868,90839177,90838868,90839177,TTATAGGTAGAGTCCATCTTTTGTAGCACTCACTCCGCTGCAGACA...,309,0,309,TAA

In [55]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [56]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,Sequence,Length,Start,Stop,StopCodon
0,Lypla1,chr1,+,4807822,4846739,4807913,4845016,4844962,4846739,gagcgcgcgcccggaggggcgggcTGGGACTTTCGGCTGCCGGGAG...,38917,91,37194,TGA
1,Gm37988,chr1,+,4807891,4886770,4807913,4832316,4886743,4886770,CGCACTGTCCGCCAGCCGGTGGATGTGCGGCAACAACATGTCCGCT...,78879,22,24425,TGA
2,Tcea1,chr1,+,4857813,4897905,4857913,4896364,4896355,4897905,GGAAGGCCTAGGCCAGCGGCTTCGCGGCTTGTCCAACGTCCGCGCA...,40092,100,38551,TGA
3,Atp6v1h,chr1,+,5083079,5162529,5084450,5162165,5162104,5162529,AGCTGCGGTCACGTGCGGCTGCTCACGTGCCAGACGCTGCTGTCAC...,79450,1371,79086,TGA
4,Oprk1,chr1,+,5588492,5606131,5589048,5602784,5602251,5606131,GCGCACCTTGCTGATCCCAAACAGGCAGAGCTTCTTCCAGTCTTGG...,17639,556,14292,TGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22352,Gm21394,chrY,-,84562571,84564907,84562710,84563394,84562571,84563675,TTAATTTTTAGAACAAAACAAATTTTATTGACAAAGATACTGAGGT...,2336,1513,2197,TAA
22353,Gm20854,chrY,-,85528516,85529518,85528659,85529343,85528516,85529518,TATTAATTTTTTGAACAAAACAAATTTTATTGACAAAGATACTGAG...,1002,175,859,TAA
22354,Gm21996,chrY,-,89713423,89745532,89713627,89744111,89713423,89713657,TTTCATAGGAGACAAAAAAAGGTAGATATTTTTTTCTTTGTTTtat...,32109,1421,31905,TAA
22355,Gm21860,chrY,-,90754512,90754821,90754512,90754821,90754512,90754821,TTATAGGTAGAGTCCATCTTTTGTAGCACTCACTCCGCTGCAGACA...,309,0,309,TAA
22356,Gm21748,chrY,-,90838868,90839177,90838868,90839177,90838868,90839177,TTATAGGTAGAGTCCATCTTTTGTAGCACTCACTCCGCTGCAGACA...,309,0,309,TAA

In [57]:
pd.value_counts(Data["StopCodon"])

TGA    10632
TAA     6022
TAG     4977
AGA      103
TCC       50
       ...
GAT        2
ATT        2
ACT        1
CGG        1
CTT        1
Name: StopCodon, Length: 61, dtype: int64

In [58]:
TGA = Data[Data["StopCodon"]=="TGA"]
TGA = TGA.reset_index(drop = True)

In [59]:
TAA = Data[Data["StopCodon"]=="TAA"]
TAA = TAA.reset_index(drop = True)

In [60]:
TAG = Data[Data["StopCodon"]=="TAG"]
TAG = TAG.reset_index(drop = True)

In [61]:
Data = TGA.append(TAA)
Data = Data.append(TAG)
Data = Data.reset_index(drop = True)

In [62]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,Sequence,Length,Start,Stop,StopCodon
0,Lypla1,chr1,+,4807822,4846739,4807913,4845016,4844962,4846739,gagcgcgcgcccggaggggcgggcTGGGACTTTCGGCTGCCGGGAG...,38917,91,37194,TGA
1,Gm37988,chr1,+,4807891,4886770,4807913,4832316,4886743,4886770,CGCACTGTCCGCCAGCCGGTGGATGTGCGGCAACAACATGTCCGCT...,78879,22,24425,TGA
2,Tcea1,chr1,+,4857813,4897905,4857913,4896364,4896355,4897905,GGAAGGCCTAGGCCAGCGGCTTCGCGGCTTGTCCAACGTCCGCGCA...,40092,100,38551,TGA
3,Atp6v1h,chr1,+,5083079,5162529,5084450,5162165,5162104,5162529,AGCTGCGGTCACGTGCGGCTGCTCACGTGCCAGACGCTGCTGTCAC...,79450,1371,79086,TGA
4,Oprk1,chr1,+,5588492,5606131,5589048,5602784,5602251,5606131,GCGCACCTTGCTGATCCCAAACAGGCAGAGCTTCTTCCAGTCTTGG...,17639,556,14292,TGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21626,Gm21764,chrY,-,18061269,18061812,18061269,18061812,18061269,18061812,CTATGGGCTCCCGTTTTGCACTTCTGGAAGTTGTCTCTCCCTCTTG...,543,0,543,TAG
21627,Gm21852,chrY,-,40651453,40651996,40651453,40651996,40651453,40651996,CTATGGGCTCCCGTTTTGCACTTCTGGAAGTTGTCTCTCCCTCTTG...,543,0,543,TAG
21628,Gm21797,chrY,-,40775222,40775765,40775222,40775765,40775222,40775765,CTATGGGCTCCCGTTTTGCACTTCTGGAAGTTGTCTCTCCCTCTTG...,543,0,543,TAG
21629,Gm29644,chrY,-,70271305,70303343,70301098,70301674,70271305,70271539,TTTTTAGAACAAAACAAATTTTATTGACAAAGATACTGAGGTTGTC...,32038,1669,2245,TAG
21630,Gm29423,chrY,-,70292584,70303287,70293440,70303173,70292584,70293452,gatgcaaactgtaagaggttttattatcagctagctaaggacaaaa...,10703,114,9847,TAG

In [63]:
Data = Data[["name","chrom","strand","txStart","txEnd","cdsStart","cdsEnd","LastExonStart","LastExonEnd","StopCodon"]]

In [64]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,Lypla1,chr1,+,4807822,4846739,4807913,4845016,4844962,4846739,TGA
1,Gm37988,chr1,+,4807891,4886770,4807913,4832316,4886743,4886770,TGA
2,Tcea1,chr1,+,4857813,4897905,4857913,4896364,4896355,4897905,TGA
3,Atp6v1h,chr1,+,5083079,5162529,5084450,5162165,5162104,5162529,TGA
4,Oprk1,chr1,+,5588492,5606131,5589048,5602784,5602251,5606131,TGA
...,...,...,...,...,...,...,...,...,...,...
21626,Gm21764,chrY,-,18061269,18061812,18061269,18061812,18061269,18061812,TAG
21627,Gm21852,chrY,-,40651453,40651996,40651453,40651996,40651453,40651996,TAG
21628,Gm21797,chrY,-,40775222,40775765,40775222,40775765,40775222,40775765,TAG
21629,Gm29644,chrY,-,70271305,70303343,70301098,70301674,70271305,70271539,TAG
21630,Gm29423,chrY,-,70292584,70303287,70293440,70303173,70292584,70293452,TAG

In [65]:
M6A = pd.read_csv("/pod/2/ke-lab/LUOZ/m6AAI/iM6A_m3cRAC_Label.csv")

In [66]:
M6A

         chrom     Start       End     name    Probabilty strand  Label
0         chr1   3214485   3214486     Xkr4  1.316975e-05      -      0
1         chr1   3214554   3214555     Xkr4  9.799121e-07      -      0
2         chr1   3214662   3214663     Xkr4  1.997159e-01      -      1
3         chr1   3214724   3214725     Xkr4  1.521015e-01      -      0
4         chr1   3214732   3214733     Xkr4  6.528376e-01      -      1
...        ...       ...       ...      ...           ...    ...    ...
19671398  chrY  90816408  90816409    Erdr1  7.192771e-05      +      0
19671399  chrY  90816418  90816419    Erdr1  5.691654e-05      +      0
19671400  chrY  90838880  90838881  Gm21748  1.863572e-03      -      0
19671401  chrY  90839032  90839033  Gm21748  1.835544e-04      -      0
19671402  chrY  90839058  90839059  Gm21748  7.413900e-03      -      0

[19671403 rows x 7 columns]

In [67]:
Merge = pd.merge(M6A, Data, how="inner", on=["chrom","name","strand"])

In [68]:
Merge

,chrom,Start,End,name,Probabilty,strand,Label,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,chr1,3214485,3214486,Xkr4,1.316975e-05,-,0,3214481,3671498,3216021,3671348,3214481,3216968,TAA
1,chr1,3214554,3214555,Xkr4,9.799121e-07,-,0,3214481,3671498,3216021,3671348,3214481,3216968,TAA
2,chr1,3214662,3214663,Xkr4,1.997159e-01,-,1,3214481,3671498,3216021,3671348,3214481,3216968,TAA
3,chr1,3214724,3214725,Xkr4,1.521015e-01,-,0,3214481,3671498,3216021,3671348,3214481,3216968,TAA
4,chr1,3214732,3214733,Xkr4,6.528376e-01,-,1,3214481,3671498,3216021,3671348,3214481,3216968,TAA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19527909,chrY,90816408,90816409,Erdr1,7.192771e-05,+,0,90785441,90816464,90785670,90816447,90816435,90816464,TAA
19527910,chrY,90816418,90816419,Erdr1,5.691654e-05,+,0,90785441,90816464,90785670,90816447,90816435,90816464,TAA
19527911,chrY,90838880,90838881,Gm21748,1.863572e-03,-,0,90838868,90839177,90838868,90839177,90838868,90839177,TAA
19527912,chrY,90839032,90839033,Gm21748,1.835544e-04,-,0,90838868,90839177,90838868,90839177,90838868,90839177,TAA
19527913,chrY,90839058,90839059,Gm21748,7.413900e-03,-,0,90838868,90839177,90838868,90839177,90838868,90839177,TAA

In [69]:
Merge["Distance"] = 0

In [70]:
Positive = Merge[Merge.strand == "+"]
Positive = Positive.reset_index(drop = True)
Negative = Merge[Merge.strand == "-"]
Negative = Negative.reset_index(drop = True)

In [71]:
Positive["Distance"] = Positive["cdsEnd"] - Positive["End"]
Negative["Distance"] = Negative["cdsStart"] - Negative["Start"]

In [72]:
Merge = Positive.append(Negative)
Merge = Merge.reset_index(drop = True)

In [73]:
Merge

,chrom,Start,End,name,Probabilty,strand,Label,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon,Distance
0,chr1,4807850,4807851,Lypla1,0.000197,+,0,4807822,4846739,4807913,4845016,4844962,4846739,TGA,37165
1,chr1,4807890,4807891,Lypla1,0.000120,+,0,4807822,4846739,4807913,4845016,4844962,4846739,TGA,37125
2,chr1,4807923,4807924,Lypla1,0.000098,+,0,4807822,4846739,4807913,4845016,4844962,4846739,TGA,37092
3,chr1,4807926,4807927,Lypla1,0.000075,+,0,4807822,4846739,4807913,4845016,4844962,4846739,TGA,37089
4,chr1,4808018,4808019,Lypla1,0.000032,+,0,4807822,4846739,4807913,4845016,4844962,4846739,TGA,36997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19527909,chrY,90754676,90754677,Gm21860,0.000184,-,0,90754512,90754821,90754512,90754821,90754512,90754821,TAA,-164
19527910,chrY,90754702,90754703,Gm21860,0.007414,-,0,90754512,90754821,90754512,90754821,90754512,90754821,TAA,-190
19527911,chrY,90838880,90838881,Gm21748,0.001864,-,0,90838868,90839177,90838868,90839177,90838868,90839177,TAA,-12
19527912,chrY,90839032,90839033,Gm21748,0.000184,-,0,90838868,90839177,90838868,90839177,90838868,90839177,TAA,-164
19527913,chrY,90839058,90839059,Gm21748,0.007414,-,0,90838868,90839177,90838868,90839177,90838868,90839177,TAA,-190

### TRRACN

In [81]:
TRRACN = Merge[(Merge.Distance == (-1)) | (Merge.Distance ==1)]
TRRACN = TRRACN.reset_index(drop = True)

In [84]:
TRRACN

,chrom,Start,End,name,Probabilty,strand,Label,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon,Distance
0,chr1,9624896,9624897,3110035E14Rik,0.102875,+,0,9601198,9627143,9601583,9624896,9624712,9627143,TAA,-1
1,chr1,9898890,9898891,Sgk3,0.441306,+,0,9798106,9900843,9865252,9898890,9898719,9900843,TGA,-1
2,chr1,16677425,16677426,Tmem70,0.065498,+,0,16665209,16678275,16665307,16677425,16676967,16678275,TGA,-1
3,chr1,20733859,20733860,Il17a,0.130344,+,0,20730904,20734496,20730961,20733859,20733621,20734496,TAA,-1
4,chr1,24762736,24762737,Lmbrd1,0.017677,+,0,24678629,24765448,24678756,24762736,24762622,24765448,TGA,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1124,chrX,152337415,152337416,Tspyl2,0.006684,-,0,152336854,152342425,152337416,152342325,152336854,152337565,TAA,1
1125,chrX,162962134,162962135,S100g,0.031683,-,0,162961991,162964599,162962135,162964196,162961991,162962240,TGA,1
1126,chrX,163514890,163514891,Grpr,0.410251,-,0,163513903,163549677,163514891,163549297,163513903,163515278,TAG,1
1127,chrX,163936287,163936288,Zrsr2,0.003100,-,0,163935442,163958589,163936288,163958326,163935442,163936965,TAA,1
1128,chrX,168654867,168654868,Msl3,0.164061,-,0,168654116,168673898,168654868,168673735,168654116,168654968,TAA,1

### TRRRACN

In [86]:
TRRRACN = Merge[(Merge.Distance == (-2)) | (Merge.Distance ==2)]
TRRRACN = TRRRACN.reset_index(drop = True)

In [87]:
TRRRACN

,chrom,Start,End,name,Probabilty,strand,Label,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon,Distance
0,chr1,6858601,6858602,St18,0.261166,+,0,6487230,6860934,6768897,6858600,6858459,6860934,TAG,-2
1,chr1,15843083,15843084,Terf1,0.077417,+,0,15805645,15844052,15805677,15843082,15842920,15844052,TGA,-2
2,chr1,31223596,31223597,Pih1d3,0.551818,+,0,31222837,31224288,31222938,31223595,31222837,31224288,TGA,-2
3,chr1,42905497,42905498,Mrps9,0.045378,+,0,42851232,42905682,42851291,42905496,42905404,42905682,TGA,-2
4,chr1,57383565,57383566,1700066M21Rik,0.548696,+,0,57377619,57385423,57377670,57383564,57382742,57385423,TGA,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,chrX,124127775,124127776,Vmn2r121,0.002120,-,0,124127338,124135910,124127777,124135831,124127338,124128685,TGA,2
690,chrX,134224576,134224577,Trmt2b,0.110565,-,0,134223094,134276982,134224578,134267545,134223094,134224705,TAA,2
691,chrX,136448666,136448667,Kir3dl2,0.382740,-,0,136448106,136469041,136448668,136469036,136448106,136448676,TAG,2
692,chrX,163979188,163979189,Car5b,0.286631,-,0,163976821,164027997,163979190,164014944,163976821,163979370,TAA,2
693,chrX,164071231,164071232,Siah1b,0.004111,-,0,164070704,164076121,164071233,164072082,164070704,164072227,TGA,2

### TRACN

In [88]:
TRACN = Merge[(Merge.Distance == 0)]
TRACN = TRACN.reset_index(drop = True)

In [89]:
TRACN

,chrom,Start,End,name,Probabilty,strand,Label,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon,Distance
0,chr1,4845015,4845016,Lypla1,5.585583e-04,+,0,4807822,4846739,4807913,4845016,4844962,4846739,TGA,0
1,chr1,5602783,5602784,Oprk1,6.181653e-03,+,0,5588492,5606131,5589048,5602784,5602251,5606131,TGA,0
2,chr1,7169881,7169882,Pcmtd1,2.164942e-01,+,1,7088919,7173628,7120308,7169882,7169514,7173628,TAA,0
3,chr1,13701382,13701383,Xkr9,1.803906e-02,+,0,13668770,13701723,13672492,13701383,13700754,13701723,TAA,0
4,chr1,15711628,15711629,Kcnb2,4.096863e-01,+,0,15312451,15723750,15312451,15711629,15709484,15723750,TGA,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3235,chrX,162417542,162417543,Reps2,1.116303e-04,-,0,162411953,162643649,162417542,162643507,162411953,162417611,TGA,0
3236,chrX,166523860,166523861,Egfl6,2.847009e-03,-,0,166523006,166585720,166523860,166585523,166523006,166523971,TGA,0
3237,chrX,169312823,169312824,Hccs,7.935028e-02,-,0,169311529,169320280,169312823,169319549,169311529,169313022,TAA,0
3238,chrY,1298965,1298966,Usp9y,2.947900e-07,-,0,1298960,1459782,1298965,1454265,1298960,1299097,TAA,0
3239,chrY,2662470,2662471,Sry,1.036288e-06,-,0,2662470,2663658,2662470,2663658,2662470,2663658,TGA,0

### NRACTRR

In [90]:
Positive = Merge[Merge.strand == "+"]
Positive = Positive.reset_index(drop = True)
Negative = Merge[Merge.strand == "-"]
Negative = Negative.reset_index(drop = True)

In [91]:
Positive = Positive[Positive.Distance ==4]
Negative = Negative[Negative.Distance ==(-4)]
NRACTRR = Positive.append(Negative)
NRACTRR = NRACTRR.reset_index(drop = True)

In [92]:
NRACTRR

,chrom,Start,End,name,Probabilty,strand,Label,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon,Distance
0,chr1,9624891,9624892,3110035E14Rik,0.099649,+,0,9601198,9627143,9601583,9624896,9624712,9627143,TAA,4
1,chr1,13701378,13701379,Xkr9,0.238587,+,0,13668770,13701723,13672492,13701383,13700754,13701723,TAA,4
2,chr1,19166173,19166174,Tfap2d,0.329393,+,1,19103021,19166346,19103255,19166178,19165958,19166346,TAG,4
3,chr1,20990683,20990684,Efhc1,0.333801,+,0,20951687,20990841,20951733,20990688,20990616,20990841,TGA,4
4,chr1,37262091,37262092,Cnga3,0.192666,+,0,37219204,37263384,37232244,37262096,37260696,37263384,TGA,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,chrY,42550291,42550292,Gm29276,0.065327,-,0,42550082,42582250,42550287,42580835,42550082,42550317,TAA,-4
1324,chrY,44232332,44232333,Gm21739,0.039329,-,0,44232122,44264444,44232328,44263025,44232122,44232358,TAA,-4
1325,chrY,58782774,58782775,Gm21861,0.036602,-,0,58782566,58814597,58782770,58813174,58782566,58782800,TAA,-4
1326,chrY,68806795,68806796,Gm20817,0.052713,-,0,68806595,68832728,68806791,68831306,68806595,68806821,TAA,-4
1327,chrY,89713631,89713632,Gm21996,0.057930,-,0,89713423,89745532,89713627,89744111,89713423,89713657,TAA,-4

In [ ]:
TRACN.to_csv("TRACN.csv", index=0)
TRRACN.to_csv("TRRACN.csv", index=0)
TRRRACN.to_csv("TRRRACN.csv", index=0)
NRACTRR.to_csv("NRACTRR.csv", index=0)