In [1]:
import glob,os
import numpy as np
import pandas as pd

### Read multiple files

In [2]:
path = "m6AQTL"

In [3]:
file = glob.glob(os.path.join(path, "*.bed"))

In [4]:
d = []
for f in file:
    d.append(pd.read_table(f))

### Delete empty dataframe

In [5]:
for i in range(len(d))[::-1]:
    if len(d[i]) == 0:
        del d[i]

In [6]:
Data = pd.concat(d)

In [7]:
# Data = Data.sort_values(by=["chrom","Start"], axis=0, ascending=True)
# Data = Data.reset_index(drop = True)

In [8]:
Data

            name  chrom strand        Start          End    Probabilty
0    rs562515149  chr11      +  117869429.0  117869429.0  2.903836e-07
1    rs562515149  chr11      +  117869430.0  117869430.0  1.641853e-07
2    rs562515149  chr11      +  117869431.0  117869431.0  6.242827e-07
3    rs562515149  chr11      +  117869432.0  117869432.0  5.605264e-07
4    rs562515149  chr11      +  117869433.0  117869433.0  5.126377e-08
..           ...    ...    ...          ...          ...           ...
559  rs760058934  chr17      +   61685720.0   61685720.0  7.950024e-10
560  rs760058934  chr17      +   61685721.0   61685721.0  1.252943e-09
561  rs760058934  chr17      +   61685722.0   61685722.0  1.397731e-09
562  rs760058934  chr17      +   61685723.0   61685723.0  4.925207e-07
563  rs760058934  chr17      +   61685724.0   61685724.0  4.668277e-09

[205446499 rows x 6 columns]

### Get iM6A sites

#### For positive strand

In [9]:
idx = (Data["strand"] == "+")

In [10]:
Positive = Data.loc[idx, ["name", "chrom", "strand", "Start", "End", "Probabilty"]]

In [11]:
Positive["Start"] = Positive["Start"] + 1
Positive["End"] = Positive["End"] + 1

In [12]:
Positive

            name  chrom strand        Start          End    Probabilty
0    rs562515149  chr11      +  117869430.0  117869430.0  2.903836e-07
1    rs562515149  chr11      +  117869431.0  117869431.0  1.641853e-07
2    rs562515149  chr11      +  117869432.0  117869432.0  6.242827e-07
3    rs562515149  chr11      +  117869433.0  117869433.0  5.605264e-07
4    rs562515149  chr11      +  117869434.0  117869434.0  5.126377e-08
..           ...    ...    ...          ...          ...           ...
559  rs760058934  chr17      +   61685721.0   61685721.0  7.950024e-10
560  rs760058934  chr17      +   61685722.0   61685722.0  1.252943e-09
561  rs760058934  chr17      +   61685723.0   61685723.0  1.397731e-09
562  rs760058934  chr17      +   61685724.0   61685724.0  4.925207e-07
563  rs760058934  chr17      +   61685725.0   61685725.0  4.668277e-09

[93080228 rows x 6 columns]

#### For negative strand

In [13]:
idx = (Data["strand"] == "-")

In [14]:
Negative = Data.loc[idx, ["name", "chrom", "strand", "Start", "End", "Probabilty"]]

In [15]:
Negative["Start"] = Negative["Start"] - 1
Negative["End"] = Negative["End"] - 1

In [16]:
Negative

            name  chrom strand        Start          End    Probabilty
0    rs147926293   chr1      -  115247088.0  115247088.0  2.932345e-09
1    rs147926293   chr1      -  115247089.0  115247089.0  9.464849e-08
2    rs147926293   chr1      -  115247090.0  115247090.0  1.711558e-08
3    rs147926293   chr1      -  115247091.0  115247091.0  9.068341e-10
4    rs147926293   chr1      -  115247092.0  115247092.0  5.312921e-08
..           ...    ...    ...          ...          ...           ...
749  rs531159136  chr11      -   67759322.0   67759322.0  2.609542e-06
750  rs531159136  chr11      -   67759323.0   67759323.0  8.997824e-05
751  rs531159136  chr11      -   67759324.0   67759324.0  6.496255e-04
752  rs531159136  chr11      -   67759325.0   67759325.0  8.453316e-06
753  rs531159136  chr11      -   67759326.0   67759326.0  3.235171e-06

[112366270 rows x 6 columns]

In [17]:
iM6A = pd.concat([Positive, Negative], axis=0)

In [18]:
iM6A = iM6A.sort_values(by=["chrom","Start"], axis=0, ascending=True)
iM6A = iM6A.reset_index(drop = True)

In [19]:
iM6A

                  name chrom strand       Start         End    Probabilty
0          rs113383096  chr1      +    879288.0    879288.0  1.412760e-07
1          rs113383096  chr1      +    879289.0    879289.0  3.832867e-07
2          rs113383096  chr1      +    879290.0    879290.0  5.319566e-07
3          rs113383096  chr1      +    879291.0    879291.0  8.999201e-07
4          rs113383096  chr1      +    879292.0    879292.0  2.607459e-07
...                ...   ...    ...         ...         ...           ...
205446493  rs147385831  chrY      +  59343486.0  59343486.0  3.538102e-09
205446494  rs142104921  chrY      +  59343487.0  59343487.0  2.108630e-09
205446495  rs147385831  chrY      +  59343487.0  59343487.0  2.171187e-09
205446496  rs142104921  chrY      +  59343488.0  59343488.0  3.576525e-09
205446497  rs147385831  chrY      +  59343488.0  59343488.0  3.680318e-09

[205446498 rows x 6 columns]

In [20]:
iM6A = iM6A[["chrom", "Start", "End", "name", "Probabilty", "strand"]]

In [21]:
iM6A["End"] = iM6A["End"] + 1

In [22]:
iM6A

          chrom       Start         End         name    Probabilty strand
0          chr1    879288.0    879289.0  rs113383096  1.412760e-07      +
1          chr1    879289.0    879290.0  rs113383096  3.832867e-07      +
2          chr1    879290.0    879291.0  rs113383096  5.319566e-07      +
3          chr1    879291.0    879292.0  rs113383096  8.999201e-07      +
4          chr1    879292.0    879293.0  rs113383096  2.607459e-07      +
...         ...         ...         ...          ...           ...    ...
205446493  chrY  59343486.0  59343487.0  rs147385831  3.538102e-09      +
205446494  chrY  59343487.0  59343488.0  rs142104921  2.108630e-09      +
205446495  chrY  59343487.0  59343488.0  rs147385831  2.171187e-09      +
205446496  chrY  59343488.0  59343489.0  rs142104921  3.576525e-09      +
205446497  chrY  59343488.0  59343489.0  rs147385831  3.680318e-09      +

[205446498 rows x 6 columns]

In [23]:
iM6A["Start"] = iM6A["Start"].astype(int)
iM6A["End"] = iM6A["End"].astype(int)

In [24]:
iM6A

          chrom     Start       End         name    Probabilty strand
0          chr1    879288    879289  rs113383096  1.412760e-07      +
1          chr1    879289    879290  rs113383096  3.832867e-07      +
2          chr1    879290    879291  rs113383096  5.319566e-07      +
3          chr1    879291    879292  rs113383096  8.999201e-07      +
4          chr1    879292    879293  rs113383096  2.607459e-07      +
...         ...       ...       ...          ...           ...    ...
205446493  chrY  59343486  59343487  rs147385831  3.538102e-09      +
205446494  chrY  59343487  59343488  rs142104921  2.108630e-09      +
205446495  chrY  59343487  59343488  rs147385831  2.171187e-09      +
205446496  chrY  59343488  59343489  rs142104921  3.576525e-09      +
205446497  chrY  59343488  59343489  rs147385831  3.680318e-09      +

[205446498 rows x 6 columns]

In [25]:
Data = pd.read_csv("iM6A_humanWhistleRAC_Label.csv")

In [26]:
Data.rename(columns={"Probabilty":"ProbREF"}, inplace = True)

In [27]:
Data = pd.merge(Data, iM6A, how="inner", on=["chrom","Start","End","strand"])

In [28]:
Data

,chrom,Start,End,name_x,ProbREF,strand,Label,name_y,Probabilty
0,chr1,879356,879357,SAMD11,0.003763,+,0,rs113383096,0.004003
1,chr1,879379,879380,SAMD11,0.071936,+,0,rs113383096,0.069451
2,chr1,879413,879414,SAMD11,0.003702,+,0,rs113383096,0.002672
3,chr1,879458,879459,SAMD11,0.250342,+,1,rs113383096,0.031796
4,chr1,879482,879483,SAMD11,0.318616,+,0,rs113383096,0.008374
...,...,...,...,...,...,...,...,...,...
5124686,chrY,59343397,59343398,IL9R,0.011501,+,0,rs147385831,0.011716
5124687,chrY,59343416,59343417,IL9R,0.000072,+,0,rs142104921,0.000070
5124688,chrY,59343416,59343417,IL9R,0.000072,+,0,rs147385831,0.000075
5124689,chrY,59343429,59343430,IL9R,0.000051,+,0,rs142104921,0.000050
5124690,chrY,59343429,59343430,IL9R,0.000051,+,0,rs147385831,0.000052

In [29]:
Data.rename(columns={"name_x":"GENE","name_y":"SNPID","Probabilty":"ProbALT"}, inplace = True)

In [30]:
Data

,chrom,Start,End,GENE,ProbREF,strand,Label,SNPID,ProbALT
0,chr1,879356,879357,SAMD11,0.003763,+,0,rs113383096,0.004003
1,chr1,879379,879380,SAMD11,0.071936,+,0,rs113383096,0.069451
2,chr1,879413,879414,SAMD11,0.003702,+,0,rs113383096,0.002672
3,chr1,879458,879459,SAMD11,0.250342,+,1,rs113383096,0.031796
4,chr1,879482,879483,SAMD11,0.318616,+,0,rs113383096,0.008374
...,...,...,...,...,...,...,...,...,...
5124686,chrY,59343397,59343398,IL9R,0.011501,+,0,rs147385831,0.011716
5124687,chrY,59343416,59343417,IL9R,0.000072,+,0,rs142104921,0.000070
5124688,chrY,59343416,59343417,IL9R,0.000072,+,0,rs147385831,0.000075
5124689,chrY,59343429,59343430,IL9R,0.000051,+,0,rs142104921,0.000050
5124690,chrY,59343429,59343430,IL9R,0.000051,+,0,rs147385831,0.000052

In [31]:
Data.to_csv("m6AClinVarProbChange_Total.csv",index=0)